@charset "utf-8";

a{
		font-size:15px;
		color:#004FFF;
		text-decoration: none;
		border: 2px solid #004fff
     }
h1{
		color:red;
		text-decoration: underline;
		font-family: Times, "Times New Roman", "serif"
	 }

